<% content_for :page_actions do %>
  <% if frontend_available? %>
    <%= button_link_to Spree.t(:preview_product), product_url(@product), { class: "btn-outline-secondary", icon: 'eye-open', id: 'admin_preview_product', target: :_blank } %>
  <% end %>
  <% if can?(:create, Spree::Product) %>
    <%= button_link_to Spree.t(:new_product), new_object_url, { class: "btn-success", icon: 'add', id: 'admin_new_product' } %>
  <% end %>
<% end %>

<%= render partial: 'spree/admin/shared/product_tabs', locals: {current: :details} %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product } %>

<%= form_for [:admin, @product], method: :put, html: { multipart: true } do |f| %>
  <fieldset>
     <div>
       <div data-hook="admin_product_form_barcode">
        <%= f.field_container :barcode, class: ['form-group'] do %>
          <%= f.label :barcode, Spree.t(:barcode)%>
          <%= f.text_field :barcode, class: 'form-control title' %>
          <%= f.error_message_on :barcode %>
        <% end %>
      </div>
    </div>
    <%= render partial: 'form', locals: { f: f } %>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>