<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'theme', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'scripts', 'data-turbolinks-track': 'reload' %>

<% content_for :head do %>
  <% if products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags products %>
  <% end %>
<% end %>

<div class="main-container">
  <section class="switchable switchable--switch space--xs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="height-50 imagebg border--round" data-overlay="2">
            <div class="background-image-holder">
              <%= image_tag "hero-3.jpg", alt: "background" %>
            </div>
            <!-- <div class="pos-vertical-center col-md-6 col-lg-5 pl-5">
              <h2>Build a premium, responsive digital storefront.</h2>
              <p class="lead">
                Stack offers unique styling for selling digital goods, including multiple shop and product layouts &mdash; and all common utility pages.
              </p>
            </div> -->
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  
  <section>
    <div class="col-md-12">
      <div class="masonry-filter-container row justify-content-center align-items-center">
      </div>
      <div class="masonry__container row">
        <% if products.any? %>
          <div id="products" class="row d-flex" data-hook>
              <%= render partial: 'spree/products/product', collection: products, locals: { taxon: @taxon } %>
          </div>
        <% end %>
        <!--end item-->
      </div>
      <!--end masonry container-->
    </div>
    <!--end masonry-->
  </div>

<% if products.respond_to?(:total_pages) %>
  <%= paginate products, theme: 'twitter-bootstrap-4' %>
<% end %>
</section>


<div data-hook="products_search_results_heading">
  <% if products.empty? %>
  <div data-hook="products_search_results_heading_no_results_found">
    <%= Spree.t(:no_products_found) %>
  </div>
  
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"> <%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>

